$ink: rgba(36,30,32,0.9);
$ink_light: rgba(36,30,32,0.7);
$light_grey: rgba(36,30,32,0.3);
$background_grey: rgba(36,30,32,0.1);
$paper: white;
$blue: #5093A3;

$transition_speed: 400ms ease 0s;

@import url("https://use.typekit.net/azi2vbx.css");
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic|Nanum+Gothic+Coding|Stylish&display=swap');

$serif: "ff-tisa-web-pro", Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
@mixin serif {
  font-family: $serif;
  font-weight: 400;
}

@mixin serif-bold {
  font-family: $serif;
  font-weight: 700;
}

$sans-serif: "proxima-nova", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
@mixin sans-serif-semi-bold {
  font-family: $sans-serif;
  font-weight: 600;
}

$ko-serif: 'Stylish', sans-serif;
@mixin ko-serif {
  font-family: $ko-serif;
  font-weight: 400;
}

$ko-sans-serif: 'Nanum Gothic', sans-serif;
@mixin ko-sans-serif {
  font-family: $ko-sans-serif;
  font-weight: 400;
}

$ko-sans-serif-bold: 'Nanum Gothic', sans-serif;
@mixin ko-sans-serif-bold {
  font-family: $ko-sans-serif-bold;
  font-weight: 700;
}

$ko-monospace: 'Nanum Gothic Coding', "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
@mixin ko-monospace {
  font-family: $ko-monospace;
  font-weight: 400;
}

$monospace: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
@mixin monospace {
  font-family: $monospace;
  font-weight: 400;
}

$base-font-size: 24px;
$small: 0.7rem;
$tiny: 0.5rem;

html {
  line-height: 1.5;
  font-size: $base-font-size;

  color: $ink;
  background-color: $paper;
}

html {
  @include serif;

  b,
  strong {
    @include serif-bold;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @include sans-serif-semi-bold;
  }

  code {
    @include monospace;
  }
}

html[lang="ko"] {
  @include ko-sans-serif;

  b,
  strong {
    @include ko-sans-serif-bold;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @include ko-serif;
  }

  code {
    @include ko-monospace;
  }

  #page-wrapper {
    .inner {
      font-size: 1.5em;

      h2 {
        @include ko-serif;
        font-size: 3em;
      }
    }
  }

  body.is-mobile {
    #page-wrapper {
      h2 {
        font-size: 2em;
      }
    }
  }
}

@media all and (max-width: 575px) {
  html {
    font-size: $base-font-size * 0.75;
  }
}

i,
em {
  font-style: italic;
}

p {
  margin-top: 1em;
  margin-bottom: 1em;
}

a {
  color: $blue;
  text-decoration: none;

  transition: opacity $transition_speed;

  &:active {
    position: relative;
    top: 1px;
  }

  &:hover {
    opacity: 0.5;
    text-decoration: underline;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $ink;
  }

  &:hover {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      // weird bug
      text-decoration: underline;
    }
  }
}

h1 {
  font-size: 3em;
  line-height: 1.1;
  margin: 0;
}

h2,
h3 {
  font-size: 1.5em;

  margin: 0;
  margin-top: 1.5em;
  margin-bottom: 0.3em;
}

h2 + p {
  margin-top: 0;
}


nav {
  text-transform: uppercase;
}

pre {
  font-size: $small;
  background-color: $background_grey;
  padding: 1em 1.5em;

  code {
    background-color: transparent;
  }
}

code {
  background-color: $background_grey;
}

blockquote {
  font-style: italic;
  position: relative;
  padding: 0 1em;
  margin: 2em 0;

  &::before {
    content: "\201C";
    color: $background_grey;
    z-index: -1;

    position: absolute;
    font-size: 8em;
    top: -0.65em;
    left: -0.2em;
  }
}

@mixin container_left_right {
  display: flex;
  justify-content: space-between;
}

@mixin container_spaced($space) {
  display: flex;

  & > * {
    margin-right: $space;

    &:last-child {
      margin-right: 0;
    }
  }
}