header.layout {
  position: absolute;
  top: 0;
  width: 100%;
  padding: 1.5em;

  @include container_left_right;

  nav {
    font-size: 1em;
    .language + .language::before {
      content: " | ";
    }
  }
}

section.layout {
  padding: 0.75em 1em;
  max-width: 27rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.5em;
}

section.content {
  margin-top: 3em;
}